#sh_dw_in, #download_icon {
    /* background-color: rgba(34,34,34,.75); */
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* Basically, you need to set two different background-image urls because Google feels so pretty and indispensable. */
    background-image: url('../../icons/white_icon.svg'), url('chrome-extension://__MSG_@@extension_id__/icons/white_icon.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}